<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('img', filename='logo.png') }}">
</head>
<body>
  <header>
        <nav class="navbar">
            <div class="logo">
                <!-- Substituindo o texto pelo logo -->
  
                <a href="#"><img src="static\logo.png" class="logo-img"></a>
            </div>
            <ul class="nav-links">
                <li><a href="#">Início</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Serviços</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
         <center><h3>Realize seu cadastro para continuar</h3>
        <a href="{{ url_for('cadastro_dados') }}"><br><br>
         <button>Cadastrar Dados</button></center>
        </a>
    </div>
  <div class="container"><h7>seja bem vindo ao nosso projeto, nossa ideia principal é a elaboração de um sistema de recompensas que visa melhorar a dinamica entre nós e a natureza</h7></div>
</body>
</html>
