<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <center><title>Recompensas</title></center>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="container">
        <h2>Recompensas</h2>
        <p>Pontos acumulados: <strong>{{ total_pontos }}</strong></p>

        <h3>Recompensas Desbloqueadas:</h3>
        <ul class="rewards-list">
            {% for recompensa in recompensas_obtidas %}
                <li class="reward-item">{{ recompensa }}</li>
            {% else %}
                <li class="reward-item">Nenhuma recompensa desbloqueada.</li>
            {% endfor %}
        </ul>
        <a href="/cadastro_material">
            <button>Cadastrar Mais Materiais</button>
        </a>
    </div>
</body>
</html>
