<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <center><title>Recompensas</title></center>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <!-- Substituindo o texto pelo logo -->
  
                <a href="#"><img src="static\logo.png" class="logo-img"></a>
            </div>
            <ul class="nav-links">
                <li><a href="#">Início</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <h2>Recompensas</h2>
        <p>Pontos acumulados: <strong>{{ total_pontos }}</strong></p>

        <h3>Recompensas Desbloqueadas:</h3>
        <ul class="rewards-list">
            {% for recompensa in recompensas_obtidas %}
                <li class="reward-item">{{ recompensa }}</li>
            {% else %}
                <li class="reward-item">Nenhuma recompensa desbloqueada.</li>
            {% endfor %}
        </ul>
        <a href="/cadastro_material">
            <button>Cadastrar Mais Materiais</button>
        </a>
    </div>
    <div class="conteiner">
    Metal : 5 pts por grama de metal
    plastico: 1 pt por grama de plástico
    papel: 10 pts por grama de papel
    vidro: 3 pts por grama de vidro</div>
</body>
</html>
